:root, [data-bs-theme=light] {
  --bs-primary: #8CFF00;
  --bs-primary-rgb: 140,255,0;
  --bs-primary-text-emphasis: #386600;
  --bs-primary-bg-subtle: #E8FFCC;
  --bs-primary-border-subtle: #D1FF99;
  --bs-success: #8CFF00;
  --bs-success-rgb: 140,255,0;
  --bs-success-text-emphasis: #386600;
  --bs-success-bg-subtle: #E8FFCC;
  --bs-success-border-subtle: #D1FF99;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #8CFF00;
  --bs-btn-border-color: #8CFF00;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #9DFF26;
  --bs-btn-hover-border-color: #98FF19;
  --bs-btn-focus-shadow-rgb: 21,38,0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #A3FF33;
  --bs-btn-active-border-color: #98FF19;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #8CFF00;
  --bs-btn-disabled-border-color: #8CFF00;
}

.btn-outline-primary {
  --bs-btn-color: #8CFF00;
  --bs-btn-border-color: #8CFF00;
  --bs-btn-focus-shadow-rgb: 140,255,0;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #8CFF00;
  --bs-btn-hover-border-color: #8CFF00;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #8CFF00;
  --bs-btn-active-border-color: #8CFF00;
  --bs-btn-disabled-color: #8CFF00;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8CFF00;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #8CFF00;
  --bs-btn-border-color: #8CFF00;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #9DFF26;
  --bs-btn-hover-border-color: #98FF19;
  --bs-btn-focus-shadow-rgb: 21,38,0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #A3FF33;
  --bs-btn-active-border-color: #98FF19;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #8CFF00;
  --bs-btn-disabled-border-color: #8CFF00;
}

.btn-outline-success {
  --bs-btn-color: #8CFF00;
  --bs-btn-border-color: #8CFF00;
  --bs-btn-focus-shadow-rgb: 140,255,0;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #8CFF00;
  --bs-btn-hover-border-color: #8CFF00;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #8CFF00;
  --bs-btn-active-border-color: #8CFF00;
  --bs-btn-disabled-color: #8CFF00;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8CFF00;
}

[data-bs-theme=dark] {
  --bs-primary: #8CFF00;
  --bs-primary-rgb: 140,255,0;
  --bs-primary-text-emphasis: #BAFF66;
  --bs-primary-bg-subtle: #1C3300;
  --bs-primary-border-subtle: #549900;
  --bs-success: #8CFF00;
  --bs-success-rgb: 140,255,0;
  --bs-success-text-emphasis: #BAFF66;
  --bs-success-bg-subtle: #1C3300;
  --bs-success-border-subtle: #549900;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #8CFF00;
  --bs-btn-border-color: #8CFF00;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #9DFF26;
  --bs-btn-hover-border-color: #98FF19;
  --bs-btn-focus-shadow-rgb: 21,38,0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #A3FF33;
  --bs-btn-active-border-color: #98FF19;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #8CFF00;
  --bs-btn-disabled-border-color: #8CFF00;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #8CFF00;
  --bs-btn-border-color: #8CFF00;
  --bs-btn-focus-shadow-rgb: 140,255,0;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #8CFF00;
  --bs-btn-hover-border-color: #8CFF00;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #8CFF00;
  --bs-btn-active-border-color: #8CFF00;
  --bs-btn-disabled-color: #8CFF00;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8CFF00;
}

[data-bs-theme=dark] .btn-success, .btn-success[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #8CFF00;
  --bs-btn-border-color: #8CFF00;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #9DFF26;
  --bs-btn-hover-border-color: #98FF19;
  --bs-btn-focus-shadow-rgb: 21,38,0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #A3FF33;
  --bs-btn-active-border-color: #98FF19;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #8CFF00;
  --bs-btn-disabled-border-color: #8CFF00;
}

[data-bs-theme=dark] .btn-outline-success, .btn-outline-success[data-bs-theme=dark] {
  --bs-btn-color: #8CFF00;
  --bs-btn-border-color: #8CFF00;
  --bs-btn-focus-shadow-rgb: 140,255,0;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #8CFF00;
  --bs-btn-hover-border-color: #8CFF00;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #8CFF00;
  --bs-btn-active-border-color: #8CFF00;
  --bs-btn-disabled-color: #8CFF00;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8CFF00;
}

.aspect-ratio-16x9 {
  aspect-ratio: 16/9;
}

.aspect-ratio-4x3 {
  aspect-ratio: 4/3;
}

.aspect-ratio-1x1 {
  aspect-ratio: 1/1;
}

